/*@-o-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}*/
body{
	background-color: salmon;
}
#title{
	width: 300px;
	animation: lightSpeedIn 1s;
}
#subtitle{
	width: 300px;
	animation: hinge 1s;
	animation-delay: .5s;
}