/*@-o-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-ms-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-moz-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@-webkit-keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}
@keyframes fadeIn{
	0% {opacity: 0; transform: scale(.5);}
	70% {opacity: 1; transform: scale(1.2);}
	100% {opacity: 1; transform: scale(1);}
}*/
body{
	background-color: salmon;
}
h1{
	width: 300px;
	animation-name: tada;
	animation-duration: 1s;
}